/* Import all the partials */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;700;900&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  color: #222222;
  background-color: #f2f2f2; }
