/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700;900&display=swap');
$font-stack: 'Mulish', Arial, Helvetica, sans-serif;

/* Colors*/
$brandPrimary: #314570;
$brandSecondary: #ec8d11;
$neutralDarkest: #000000;
$neutralDarker: #333333;
$neutralDark: #b1b1b1;
$neutral: #cccccc;
$neutralLight: #e4e4e4;
$neutralLighter: #f2f2f2;
$neutralLightest: #ffffff;

/* Media queries mixin */
@mixin breakpoint($point) {
   @if $point == S {
      @media only screen and (min-width: 560px) { @content; }
   }
   @if $point == M {
      @media only screen and (min-width: 750px) { @content; }
   }
   @if $point == L {
      @media only screen and (min-width: 1920px) { @content; }
   }
}