body {
   background-color: $neutralLighter;
}

main, section {
   margin-bottom: 2em;
}

.site-header {
   background-color: $brandPrimary;
   border-bottom: 5px solid lighten($brandPrimary, 25);
   color: lighten($brandPrimary, 50);
   padding: 2em 0;
   margin-bottom: 2em;
}

.cta {
   text-align: center;
}

.container {
   width: 100%;
}

.wrap {
   padding: 0 5%;
   margin: 0 auto;
   @include breakpoint(S) {
      width: 90%;
   }
   @include breakpoint(M) {
      width: 750px;
   }
   @include breakpoint(L) {
      width: 960px;
   }
}

.site-footer {
   padding: 2em 0;
   border-top: 1px dotted $neutral;
   background-color: $neutralLight;
}